/** css reset **/

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
}

img {
    border: 0;
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

p {
    word-wrap: break-word;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

dl,
dt,
dd {
    margin: 0;
    padding: 0;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

.clear {
    zoom: 1;
}

.left {
    float: left;
}

.right {
    float: right;
}


/*main style*/

html,
body {
    height: 100%;
}

body {
    font-family: "Microsoft Yahei";
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}

.section {
    background-image: url("../img/huanwen.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.font14 {
    font-size: 14px;
}

.font16 {
    font-size: 16px;
}

.font18 {
    font-size: 18px;
}

.colorBlue {
    color: #00B6DD;
}

.colorDarkblue {
    color: #007A97;
}

.space40 {
    margin-right: 40px;
}

.icon {
    display: inline-block;
    font-size: 35px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
}

@media(max-width:768px) {
    .icon {
        position: absolute;
        left: 5%;
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 30px;
        transform: translateX(-50%);
    }
}


/*
 section1 
 */

.section1 {
    background-color: #00B6DD;
}

.photo-outter {
    width: 588px;
    height: 320px;
    background: url(../img/fangdajing.png) no-repeat;
    background-size: cover;
    position: relative;
    top: 50px;
    left: 50%;
    margin-left: -294px;
}

.photo-outter:after {
    content: '';
    left: 50%;
    top: 200px;
    bottom: 0;
    z-index: 1;
    width: 1px;
    border-left: 1px dashed #FFF;
    border-right: 1px dashed #FFF;
    margin-left: -1px;
    position: absolute;
}

.myphoto {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 2px solid #000;
    position: absolute;
    top: 183px;
    margin-top: -95px;
    left: 50%;
    margin-left: -95px;
    cursor: pointer;
    transition: transform .5s;
    z-index: 10;
}

.myphoto:hover {
    transform: rotate(-30deg) scale(1.1);
}

.basic-info {
    position: absolute;
    top: 370px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.basic-info:before {
    background-color: #FFF;
}

.basic-info {
    padding: 30px 0;
}

.basic-info .label {
    width: 80px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #FFF;
    font-size: 14px;
    margin-right: 20px;
}

.basic-info .desc {
    width: 190px;
    border: 1px dashed #FFF;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    font-size: 12px;
    margin-left: 50px;
    position: relative;
}

.basic-info .desc .line {
    position: absolute;
    top: 15px;
    left: -100px;
    width: 100px;
    height: 1px;
    background-color: #FFF;
    transition: all 0.6s;
}

.basic-info .desc .circle {
    position: absolute;
    left: -50px;
    top: 15px;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    margin-left: -4px;
    border-radius: 50%;
    background-color: #FFF;
}


/*section1 end*/


/*section2*/

.exprerience-list {
    position: absolute;
    top: 0;
    bottom: 0;
}

.brief-intro-wrapper {
    background: url(../img/bg_work.jpg);
    background-size: 100% 100%;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brief-intro-item {
    color: #007A97;
    font-weight: 600;
    margin: 15px;
    text-align: right;
}

.brief-intro-img {
    width: 35%;
}

.arrow {
    height: 36px;
    line-height: 36px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    color: #FFF;
    font-size: 14px;
    background-color: #007A97;
    z-index: 10;
}

.arrow:before {
    content: '';
    position: absolute;
    border-width: 18px;
    border-style: solid;
    top: 0;
}

.arrow:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #FFF;
    top: 18px;
    margin-top: -5px;
}

.arrow-right {
    margin-right: 40px;
}

.arrow-right:before {
    right: -36px;
    border-color: transparent transparent transparent #007A97;
}

.arrow-right:after {
    right: -5px;
}

.arrow-left {
    margin-left: 40px;
}

.arrow-left:before {
    left: -36px;
    border-color: transparent #007A97 transparent transparent;
}

.arrow-left:after {
    left: -5px;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: #007A97;
    position: absolute;
    border-radius: 50%;
    top: 18px;
    margin-top: -5px;
}

.arrow-right .circle {
    right: -45px;
}

.arrow-left .circle {
    left: -45px;
}

.exprerience-content {
    color: #00B6DD;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    align-items: flex-start;
}

.exprerience-icon {
    font-size: 18px;
    padding: 0 10px 0 0;
    position: relative;
}

.exprerience-icon:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    background-color: #007A97;
}

.exprerience-detail {
    padding: 0 20px;
}

.exprerience-title {
    font-size: 18px;
    color: #007D9B;
    font-weight: 600;
    line-height: 1.5;
}

.exprerience-time {
    display: none;
}

.exprerience-subtitle {
    line-height: 1.5;
    font-size: 14px;
}

.exprerience-desc {
    list-style: square;
    color: #333;
    padding-left: 15px;
}

.desc-item {
    line-height: 1.5;
    font-size: 12px;
}

@media(max-width:768px) {
    .brief-intro-wrapper {
        display: none;
    }
    .exprerience-time {
        display: inline-block;
        font-size: 14px;
        margin-left: 10px;
    }
    .exprerience-list .timeline-half-left {
        display: none;
    }
    .space40 {
        margin-right: 20px;
    }
}


/*section2 end*/


/*section3 start*/

.skill-title {
    position: absolute;
    top: 30px;
    left: 70px;
    font-size: 1.8em;
    padding: 10px 25px;
    color: #007D9B;
    border: 1px solid #007D9B;
}

.skill-list {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
}

.skill-icon {
    font-size: 40px;
    background-color: #FFF;
    font-weight: 400;
    color: #00B6DD;
    z-index: 10;
}

.content-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #00B6DD;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 35px;
}

.skill-desc-wrapper {
    color: #333;
    /*color:#00B6DD;*/
    font-size: 14px;
}

.skill-desc-wrapper .skill-label {
    font-weight: 600;
    font-size: 20px;
    padding: 10px 0;
    color: #007D9B;
}

.skill-desc-wrapper .skill-label .skill-percent {
    margin-left: 15px;
    font-size: 16px;
    color: #00B6DD;
    display: none;
}

.timeline-half-left .skill-desc-wrapper {
    text-align: right;
    padding-right: 50px;
    line-height: 1.4;
}

.timeline-half-right .skill-desc-wrapper {
    text-align: left;
    padding-left: 50px;
}

.chart-half {
    z-index: 1;
}

.skill-canvas-line {
    position: absolute;
    width: 40%;
    height: 1px;
    border-top: 1px dashed #00B6DD;
    z-index: 1;
    transition: all 0.6s;
}

.timeline-half-right .skill-canvas-line {
    left: -50px;
}

.timeline-half-left .skill-canvas-line {
    right: -50px;
}

.skill-list .skill-canvas-wrapper {
    width: 150px;
    height: 150px;
    position: absolute;
}

.skill-list .timeline-half-right .skill-canvas-wrapper {
    left: 35%;
    margin-left: -25px;
    z-index: 10;
}

.skill-list .timeline-half-left .skill-canvas-wrapper {
    right: 35%;
    margin-right: -25px;
    z-index: 10;
}

@media(max-width:768px) {
    .chart-half {
        display: none;
    }
    .skill-desc-wrapper .skill-label .skill-percent {
        display: inline;
    }
    .skill-list .skill-icon {
        position: absolute;
        left: 5%;
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 30px;
        transform: translateX(-50%);
    }
    .skill-title {
        left: 50%;
        top: 10px;
    }
}


/*section3 end*/


/*section4 start*/

.section4 .bg-wrapper {
    width: 100%;
    height: 100%;
    background: url(../img/zhexian.png) no-repeat center center;
    background-size: auto 100%;
}

.line {
    position: absolute;
    background-color: #00B6DD;
}

.line:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: #007D9B;
    transform: translate3d(-50%, -50%, 0);
}

.vertical-line {
    width: 2px;
}

.horizontal-line {
    height: 2px;
}

.section4 .line1 {
    top: 8px;
    left: 50%;
    right: 25%;
}

.section4 .line1:before {
    width: 10px;
    height: 10px;
}

.section4 .line2 {
    top: 8px;
    bottom: 75%;
    right: 25%;
}

.section4 .line2:before {
    width: 16px;
    height: 16px;
}

.section4 .line3 {
    top: 25%;
    right: 25%;
    left: 35%;
}

.section4 .line4 {
    top: 25%;
    bottom: 5px;
    left: 35%;
}

.section4 .line5 {
    bottom: 8px;
    left: 35%;
    right: 50%;
}

.section4 .line5:before {
    width: 16px;
    height: 16px;
}

.section4 .line5:after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    background-color: #007D9B;
    border-radius: 50%;
    top: 0;
    right: 0;
    transform: translate3d(50%, -50%, 0);
}

.section4 .icon-item {
    border-radius: 50%;
    color: #FFF;
    background-color: #007D9B;
    text-align: center;
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    font-size: 40px;
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
}

.section4 .icon-item:nth-of-type(1) {
    top: 25%;
    right: 25%;
    transform: translate3d(50%, -50%, 0);
}

.section4 .icon-item:nth-of-type(2) {
    top: 25%;
    left: 35%;
    transform: translate3d(-50%, -50%, 0) scale(2);
}

.section4 .icon-item:nth-of-type(3) {
    top: 65%;
    left: 35%;
}

.section4 .works-wrapper {
    position: absolute;
    right: -5%;
    top: 50%;
    width: 60%;
    padding-left: 150px;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
}

.section4 .works-title {
    background-color: #007D9B;
    box-shadow: 0 0 2px #000;
    display: inline-block;
    color: #FFF;
    padding: 10px 20px;
    font-size: 22px;
    margin-bottom: 15px;
    margin-left: 15px;
    line-height: 1;
}

.section4 .works-type-list {
    list-style-type: square;
    padding: 5px 15px;
}

.section4 .rightAnim,
.section .leftAnim,
.section4 .rightMinus {
    transition: all 0.6s;
}

@media (max-width:768px) {
    .section4 .line1 {
        left: 5%;
    }
    .section4 .line5 {
        left: 5%;
        right: 65%;
    }
    .section4 .works-wrapper {
        padding-left: 50px;
    }
    .section4 .works-title {
        font-size: 16px;
    }
}


/*section4 end*/


/*section5 start*/

.basic-list {
    justify-content: space-between;
    padding: 15px 0;
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
}

.basic-list .icon {
    color: #FFF;
    background-color: #00B6DD;
}

.title-wrapper {
    font-size: 20px;
    color: #333;
}
.title-responsive{
    display:none;
    color:#333;
    margin-right:10px;
    font-size:20px;
}
.main-title {
    margin-right: 10%;
}

.sub-title {
    margin-left: 10%;
    color: #007D9B;
    font-weight: 600;
    font-size: 22px;
}

.basic-list .circle-outter {
    width: 16px;
    height: 16px;
    line-height: 16px;
    border: 1px solid #00B6DD;
    border-radius: 50%;
    background-color: #FFF;
    padding: 3px;
    text-align: center;
}

.basic-list .circle-inner {
    width: 100%;
    height: 100%;
    background-color: #00B6DD;
    border-radius: 50%;
}

.basic-content {
    border: 1px solid #007D9B;
    padding: 5px 15px;
    line-height: 1.3;
    width: 80%;
    position: relative;
}

.basic-content:after {
    content: '';
    position: absolute;
    border-width: 14px 16px;
    border-style: solid;
    top: 50%;
}

.timeline-half-left .basic-content {
    margin-right: 50px;
}

.timeline-half-left .basic-content:after {
    left: 100%;
    border-color: #007D9B transparent transparent #007D9B;
}

.timeline-half-right .basic-content {
    margin-left: 50px;
}

.timeline-half-right .basic-content:after {
    right: 100%;
    border-color: #007D9B #007D9B transparent transparent;
}

.basic-name {
    color: #007D9B;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.basic-name .basic-link {
    font-size: 14px;
    margin-left: 15px;
    color: #00B6DD;
}

.basic-desc {
    color: #333;
    font-size: 14px;
}

.basic-props {
    list-style-type: square;
    padding-left: 20px;
}

@media screen and (max-width: 768px) {
    /*
    .basic-list .title-item .timeline-half-left{
        justify-content:flex-end;
        
    }
    .basic-list .title-item .timeline-half-right{
        padding-left:0;
        
    }
    .main-title{
        margin-right:5%;
    }
     .sub-title{
        margin-left:0;
    }*/
    .title-item .timeline-half-left{
        display: none;
        
    }
    .title-item .timeline-half-right{
        justify-content:center;
    }
    .title-responsive{
        display:inline;
    }
    .sub-title{
        margin-left:0;
    }
    .basic-list .empty-half {
        display: none;
    }
    .basic-list .circle-outter {
        position: absolute;
        left: 5%;
        margin-left: -8px;
        z-index: 10;
    }
}


/*section5 end*/

/*section6 start*/
.section6{
    background:#FFF;
}
.general-title-list{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:100%;
    justify-content:space-between;
    padding:15px 0;
}
.general-list .main-title{
    color:#FFF;
}
.blue-side{
    width:50%;
    height:100%;
    background-color:#007D9B;
}
.bg{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background:url(../img/huanwen.png) no-repeat;
    background-size:100% 100%;
}
.tixing-wrapper{
    width:30%;
    height:85%;
    position:absolute;
    top:10%;
    left:10%;
    background:url('../img/tixing.png') no-repeat;
    background-size:100% 100%;
    transition:transform 0.6s;
    transform:translate3d(-50px,0,0);
}
.tixing-list{
    width:100%;
    height:100%;
    text-align:center;
    display:flex;
    flex-direction:column;
}
.tixing-line-list{
    position:absolute;
    top:10%;
    height:85%;    
    left:25%;
    width:25%;
}
.tixing-item{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.tixing-high-item{
    flex:57;
    text-align:center;
}
.tixing-text-list .tixing-high-item{
    font-size:14px;
}
.tixing-low-item{
    flex:32;
}
.tixing-line-list .tixing-high-item:before{
    content:'';
    width:100%;
    height:2px;
    background-color:#ccc;    
}
.tixing-line-list .tixing-high-item:after{
    content:'';
    width:14px;
    height:14px;
    background-color:#ccc;
    margin-right:-7px;
    border-radius:50%;    
}
/*基本组件内容部分*/
.general-content-wrapper{
    position:absolute;
    top:10%;
    left:50%;
    width:50%;
    height:85%;
}
.general-content-list{
    width:80%;
    margin-left:5%;
    display: flex;
    flex-direction:column;
}
.general-content-item{
    flex:89;
}
.general-content-item:last-child{
    flex:57;
    background-color:rgba(0,0,0,.2);
}
@media screen and (max-width: 768px){
    .blue-side{
        width:5%;
    }
    .general-list .main-title{
        color:#333;
    }
    .tixing-list,.tixing-wrapper{
        display: none;
    }

}
/*section6 end*/
/*section7 start*/

.blue-top{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:70px;
        line-height: 70px;
    background-color: #00B6DD
}
.project-main-title{
    margin-right:15px;
}
.project-title{
    background:transparent;
    text-align:center;
    font-size:22px;
    font-weight:600;
    color:#FFF;
    letter-spacing: 5px;
}
.project-list{
    position:absolute;
    top:70px;
    bottom:0;
    width:100%;
    display:flex;
    flex-direction:row;
}
.project-item{
    flex:1;
    text-align:center;
}
.project-list-large .project-img-wrapper{
    width:100%; 
    position:relative;   
    height:120px;
    transition:height .6s;
}
.project-img-wrapper:before{
    content:'';
    position:absolute;
    top:0;
    bottom:0;
    left:50%;
    width:1px;
    border-left:1px dashed #00B6DD;
}
/*
.project-list-large .project-img-wrapper-short{
    height:45%;
}
.project-list-large .project-img-wrapper-long{
    height:65%;
}*/
.project-img-outter{
    display:inline-block;
    width:180px;
    border:1px solid #00B6DD;
    position:absolute;
    bottom:0;
    left:50%;
    margin-left:-90px;
    background-color:#FFF;
    padding:5px;
    transition: transform 0.6s;
    cursor:pointer;
}
.project-img-outter:hover{
    transform:scale(2);
    z-index:10;
}
.project-img-inner{
    width:170px;
    background-color:#00B6DD;
    overflow: hidden;
}
.project-img{
    width:100%;
    text-align: center;
}
.project-text{
    display:inline-block;
    width:100%;
    line-height: 2;
    padding:10px 5px;
}
.project-label{
    color:#007D9B;
    font-size:16px;  
}
.project-skill{
    font-size:12px;
    width:90%;
    color:#00B6DD;
}
.project-desc{
    width:100%;
    font-size:12px;
    line-height: 1.5;
    color:#333;
}

/*
@media screen and (max-width:768px){
    .project-list{
        flex-direction:column;
        justify-item:space-around;
    }
    .project-item{
        overflow: hidden;
        flex:auto;  
        text-align:left;      
    }
    .project-img-wrapper{
        width:180px; 
        position:static;
        display: inline-block;
        margin-left:15px;       
    }
    .project-img-wrapper:before{
        display: none;
    }
    .project-img-wrapper-short,.project-img-wrapper-long{
        height:auto;
    }
    .project-img-outter{
        position:static; 
        margin-left:0;       
    }
    .project-text{
        display: inline-block;
    }
}
*/
/*section7 end*/
